{% extends 'base.html' %}

{% load static %}
{% load form_tags %}

{% block title %}Sign Up{% endblock %}

{% block content %}
    <h2 class="title">Sign Up</h2>
    <form method="post">
        {% csrf_token %}
        <div class="field">
            {{ form.email.label_tag }}
            <div class="control">
                {{ form.email|add_class:"input" }}
            </div>
        </div>
        <div class="field">
            {{ form.password1.label_tag }}
            <div class="control">
                {{ form.password1|add_class:"input" }}
            </div>
        </div>
        <div class="field">
            {{ form.password2.label_tag }}
            <div class="control">
                {{ form.password2|add_class:"input" }}
            </div>
        </div>
        <div class="field">
            <div class="control">
                <button class="button is-primary" type="submit">Sign Up</button>
            </div>
        </div>
    </form>
    <a class="button is-light" href="{% url 'login' %}">Login</a>
{% endblock %}
